<!DOCTYPE html>
<html>
<head>
<title>Top Five</title>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">

$(document).ready(function () {

    // Build the chart
    Highcharts.chart('chartContainer', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Top 5 Categories in which most number of videos are uploaded'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        yAxis: {
            labels:{
                useHTML:false
            }
        },
        series: [{
            name: 'videos uploaded',
            colorByPoint: true,

            data: [
                {% for item in data %}
                    {
                        name: '{{item.key}}',
                        y: {{item.value}}
                    }, 
                {% endfor %}
            ]


        }]
    });
});
</script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script type='text/javascript'>
$(document).ready(function () {
Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Execution Time Comparision'
    },
    xAxis: {
        categories: [
            ''
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Execution Time (Sec)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} Sec</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'mapReduce',
        data: [{{mapReduce}}]

    }, {
        name: 'spark',
        data: [{{spark}}]

    }, {
        name: 'hive',
        data: [{{hive}}]

    }]
});
});
</script>

</head>

<body>

<div id="chartContainer" width="200px" height="200px"> </div>
<br /><br /><br /><br /><br />
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</body>

</html>

